<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeLi.MusicRenamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KeLi.MusicFolderBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KeLi.MusicRenamer.Properties.Settings>
            <setting name="FilterTypes" serializeAs="String">
                <value>.mp3;.flac;.wav</value>
            </setting>
            <setting name="FilterRegex" serializeAs="String">
                <value>[a-zA-Z0-9]</value>
            </setting>
        </KeLi.MusicRenamer.Properties.Settings>
        <KeLi.MusicFolderBuilder.Properties.Settings>
            <setting name="FilterType" serializeAs="String">
                <value>*.mp3;*.flac;*.wav</value>
            </setting>
            <setting name="FilterRegex" serializeAs="String">
                <value>[a-zA-Z0-9]</value>
            </setting>
        </KeLi.MusicFolderBuilder.Properties.Settings>
    </userSettings>
</configuration>